:root {
  --light-background: #fd7202;
  --background: #fa2360;
  --dark-background: #2a2143;
  --white: #ffffff;
}

html {
  min-height: 100vh;
}

body {
  height: 100%;
  background: linear-gradient(0deg, var(--light-background), var(--background));
  color: #fff;
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

#container {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(0px, 700px) 1fr;
  grid-template-rows: 100px 150px 1fr 75px;
  grid-template-areas:
    "header header header"
    ". input ."
    ". weather ."
    "footer footer footer";
}

#header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main {
  grid-area: input;
}

h1 {
  margin-left: 25px;
}

.search-form {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form > * {
  background-color: var(--dark-background);
  height: 60px;
  border: none;
  font-size: 18px;
  color: var(--white);
  transition: border 0.3s;
  margin: 0;
  padding: 0;
}

.location {
  padding: 0 16px;
  width: 256px;
  border-radius: 20px 0 0 20px;
  outline: none;
  border: 2px solid var(--dark-background);
  border-right: none !important;
  color: var(--white);
}

.location::placeholder {
  color: #efefef;
}

.search {
  cursor: pointer;
  width: 52px;
  height: 64px;
  line-height: 1;
  border-radius: 0 20px 20px 0;
  border: 2px solid var(--dark-background);
  border-left: none !important;
  padding: 11px;
  box-sizing: border-box;
}

#weather-info {
  padding: 10px 25px;
  border-radius: 20px;
  outline: none;
  border: 2px solid var(--dark-background);
  color: var(--white);
  background-color: var(--dark-background);
  font-size: 18px;
  transition: border 0.3s;
  max-height: 600px;
  padding: 25px 50px;
  grid-area: weather;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.8fr 0.3fr 1fr 0.5fr 0.2fr 0.2fr;
  grid-template-areas:
    "loader loader"
    "location location"
    "datetime ."
    "temperature weather-icon"
    "conditions conditions"
    "precipitation humidity" /*// Chance of rain*/
    "windspeed winddir"; /*// cloud cover*/
}

#address {
  font-size: 2em;
  grid-area: location;
  text-align: left;
  margin-bottom: 0px;
}

#datetime {
  grid-area: datetime;
  text-align: left;
  font-weight: bold;
}

#current-weather-icon {
  grid-area: weather-icon;
}

.weather-icon {
  width: 80px;
  height: 80px;
  margin: auto auto;
}

#temperature {
  grid-area: temperature;
  font-size: 4em;
  margin: 10px 0;
}

#conditions {
  grid-area: conditions;
  text-align: left;
  font-size: 1.5em;
}

#precipitation {
  grid-area: precipitation;
}

#humidity {
  grid-area: humidity;
}

#wind-speed {
  grid-area: windspeed;
}
#wind-direction {
  grid-area: winddir;
}

#footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  grid-area: loader;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid var(--background);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
